<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://dango.app/dango" version="2.5.8" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="dango.app" package="dango" required_version="3.0" show_on_lock_screen="false"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/use.category" value="entertainment"/>
    <name>dango</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/network.public"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
